<%- include('./partials/header.ejs')%>
<div class = "content">
    <main>
        <p class="overview">
            About Console Unity website <br><br>
            
            The goal of the Console Unity is to create a gaming community that accepts every gamer from any platform. We intend to create such a community 
            by providing discussions related to gaming, like upcoming games and consoles, creating duos, trios, or squads for games that promote crossplay,
            and setting up tournaments for any type of competitive game. <br><br>
           
            If you want to see the latest in-person and virtual gaming tournaments and discussions about consoles or gaming click on the
            "Connection" tab.
        </p>
    </main> 
</div>
<%- include('./partials/footer.ejs')%>
