<%- include('./partials/header.ejs')%>
<div class = "content">
    <main>
        <p class="overview">
            Need help? <br> <br>
            Contact us at this address or call the phone number below: <br>
            Address: 9201 University City Blvd, Charlotte, NC, 28223 <br>
            Phone: 704-687-8622
        </p>
    </main> 
</div>
<%- include('./partials/footer.ejs')%>
