<%- include('./partials/header.ejs')%>
<div class="content"> 
    <main>
        <div class = "overview">
            <h3><%= error.status%> Error</h3> 
            <p><%= error.message%></p>
        </div>
    </main>
</div>
<%- include('./partials/footer.ejs')%>