<%- include('./partials/header.ejs')%>
<div class="content">
    <main>
        <div class = "overview">
            <p>
                Hello and Welcome! This is the Console Unity website. Any type of gamer that plays the PS4, Xbox One, Switch, PC,
                the latest next-gen consoles, and many more. You can create discussions about consoles and games,
                create duos, trios, or squads for a video game, and set up gaming tournaments. All of these features
                can be done virtually or in person.
                <!-- I got this photo from https://www.gamespace.com/wp-content/uploads/2019/11/Gaming-Consoles.jpg -->
                <img id="welcomeImg" src="/images/gamingConsoles.jpg" alt="A few modern gaming consoles." >
    
            
                If you want to see the latest in-person and virtual gaming tournaments and discussions about consoles or gaming click on the
                "Connection" tab.
            </p>
        </div> 
    </main>
</div>
<%- include('./partials/footer.ejs')%>
  