
/* header */
header {
    padding: 0;
    text-align: center;
    background: white;
    margin: 0;
}


/* navbar */
#navbar {
    background-color: rgb(17, 121, 40);
    margin: 0;
    padding: 0;
}

#navbar ul {
    padding: 0;
    margin: auto;
    text-align: center;
    background-size: auto;
}

#navbar li {
    display: inline-block;
    margin: 0;
}

/* Navbar links */
#navbar a {
    margin: 0;
    float: left;
    color: black;
    text-align: center;
    padding: 17px ;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
}

/* Feedback for navbar */
#navbar a:hover {
    color: white;
}

#navbar a.active {
    text-decoration: underline black ;
}

/* html for all the pages */
html {
    margin: 0;
    padding: 0;
}

/* all images on every page remain this specific size */
img {
    width: 400px;
    height: 200px;
    /*border: 5px solid black;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* This is used so there is no space between the edges of the computer */
body {
    margin: 0;
    padding: 0;
    color: black;
}

.overview {
    margin: 0 auto;
    width: 800px;
}

#logo {
    width: 225px;
    height: 150px;
    margin-right: auto;
}
